$shuttl-green: #00adb7;
$gutter-width: 10px;
$font-wt-medium: 500;
$font-wt-thin: 300;
$divider: solid 1px #ececec;
$background-color: #f5f5f5;
$btn-normal: #00adb7;
$btn-hover: #009ca6;
$btn-pressed: #00868f;

html, body, main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

main {
  background-color: $background-color;
  padding: $gutter-width*2;

  .divider {
    border-bottom: $divider;
    margin: $gutter-width 0;
  }
  .loader {
    position: absolute;
    left: 50%;
    z-index: 1;
    margin-left: -30px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #a3a3a3;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  section {
    padding: $gutter-width 0;
    img {
      width: 100px;
    }
    h1 {
      margin-top: $gutter-width;
      color: #4f4f4f;
      font-size: 2.2em;
      line-height: 1.2em;
      font-weight: $font-wt-thin;

    }
    > div {
      margin-top: $gutter-width;
      color: #a2a2a2;
      line-height: 1.5em;
      font-size: 0.95em;
      text-align: justify;
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  article {
    color: #4f4f4f;
    min-height: 30px;
    padding: $gutter-width 0;

    #articleContent {
      display: none;
      padding: $gutter-width*1.5;
      background-color: white;
      box-shadow: 0 1px 10px 1px #ddd;
      border-radius: 5px;

      #offerDetail {

        & > div {
          width: 49%;
          display: inline-block;

          h2 {
          }

          &#price {
            text-align: right;
            vertical-align: top;
            font-weight: $font-wt-medium;
          }

          span {
            font-size: 0.8em;
            color: #a3a3a3;
          }
        }
      }
      #offerDescription {
        margin-top: 10px;
        font-size: 0.8em;
        display: flex;

        img {
          max-height: 15px;
          padding-top: 5px;
        }

        span {
          margin-left: $gutter-width;
          font-weight: $font-wt-thin;
        }
      }
    }
  }
  button#paymentButton {
    height: 50px;
    width: 100%;
    font-size: 1em;
    background-color: $btn-normal;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: $font-wt-medium;
    margin: $gutter-width 0;
    transition: .1s all linear;

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      background-color: $btn-pressed;
    }

  }
  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    &#successContainer, &#errorContainer {
      color: white;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 70px;
      }
      h1 {
        margin-top: 25px;
      }
      h4 {
        width: 90%;
        align-self: center;
      }
      button {
        background-color: white;
        color: $shuttl-green;
        height: 50px;
        border-radius: 30px;
        border: none;
        outline: none;
        font-size: 1.1em;
        position: absolute;
        bottom: 20px;
        width: 90%;
        align-self: center;
      }
    }
    &#successContainer {
      background-color: $shuttl-green;
      h4 {
        color: #eee;
      }
      button {
        background-color: white;
      }
    }
    &#errorContainer {
      background-color: white;
      color: #e3545d;
      h4 {
        color: #4f4f4f;
      }
      button {
        background-color: $shuttl-green;
        color: white;
      }
    }
  }
}